img {
    width: 400px;
    height: 600px;
}

body {
    display: grid;
    grid-template-columns: 30% 30% 40%;
}

.container {
    padding: 15px;
}

h1 {
    font-family: 'XBAND Rough', sans-serif;
    font-size: 60px;
}