.grid {
    display: grid;
    margin: 2rem;

    /* creates 5 columns and 3 columns of 100px each */
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(3, 100px);
}

.block {
    border-radius: 18px;
    text-align: center;
    margin: 0.25rem;
    justify-content: center;
}

.block-a {
    background-color: #adff2f;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    padding-top: 45%;
}
.block-b {
    background-color: #db7093;
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
    padding-top: 22%;
}
.block-c {
    background-color: #00ffff;
    grid-column: 3 / span 3;
    grid-row: 1 / span 1;
    padding-top: 12%;
}
.block-d {
    background-color: #ffa500;
    grid-column: 3 / span 2;
    grid-row: 2 / span 2;
    padding-top: 45%;
}
.block-e {
    background-color: #008080;
    grid-column: 5 / span 1;
    grid-row: 2 / span 1;
    padding-top: 35%;
}
.block-f {
    background-color: #a52a2a;
    grid-column: 5 / span 1;
    grid-row: 3 / span 1;
    padding-top: 35%;
}