.navbar {
    background-color: #7fffd4;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-bottom: 3%;
    display: flex;
}

.navbar-ul {
    list-style-type: none;
    font-size: larger;
    flex: 80%;
    font-weight: 550;
}

.navbar-ul>li {
    float: left;
    padding-left: 1.5rem;
}

.fa-magnifying-glass {
    padding-right: 0.5rem;
    top: 60%;
}

.search {
    /* flex: 20%; */
    float: right;
    font-size: larger;
    padding-right: 1rem;
}