body {
    /*can you guess what this does?*/
    background-color: bisque;
}

* {
    /*this is required for a task later on */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    padding-left: 1.75rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
}

#card-header {
    color: red;
    padding-bottom: 1.75rem;
    font-family: 'Times New Roman', Times, serif;
}

.card>.font-weight-light {
    font-weight: 100;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.rounded-full {
    border-radius: 100%;
    padding-bottom: 1.75rem;
}

.black-bg {
    background-color: black;
    width: 300px;
    border-color: green;
    border-style: solid;
    border-width: 0.5rem;
}

.full-width {
    width: 100%;
}

p.font-weight-light{
    font-weight: bold;

}

#absolute-card {
    position: absolute;
    top: 2rem;
    right: 2rem;
}